@using EntityLayer.Concrate
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Verileri</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Kurtar</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.AboutDetails1</td>
            <td><a href="#" class="btn btn-success">Kurtar</a></td>
            <td><a href="#" class="btn btn-danger">Sil</a></td>

        </tr>
    }

</table>

@Html.Action("AboutPartial", "About")


