
@{
    ViewBag.Title = "Oyunlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oyunlar</h2>

<br />
<h2>Angre Insect</h2>
<p>Towerdefence based mobile game</p>
<br />
<h4> Böcek Modelleri </h4>

