@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc Tablo Öğrenci - Kategori</h3>
<br />
<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>İşlemler</th>
        <th>İşlemler</th>
        <th>İşlemler</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
        <td><button class="btn btn-danger">Sil</button></td>
        <td><button class="btn btn-info">Listele</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yaptık</td>
        <td>True </td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Sinema</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>
    <tr>
        <td>4</td>
        <td>Kitap</td>
        <td>Açıklama Yaptık</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>

    </tr>

</table>
